@import "tailwindcss";
@import "../../assets/styles/theme.css";
@import "../../assets/styles/utilities.css";

.header-container {
    @apply fixed right-0 left-0 z-100 grid h-15 bg-[var(--app-background-secondary)];
    grid-template-columns: auto 1fr auto;

    grid-template-areas: "menu logo actions";
}

@media screen and (min-width: 768px) {
    .header-container {
        grid-template-columns: minmax(0, var(--container-inline-padding)) auto 1fr auto minmax(0, var(--container-inline-padding));

        grid-template-areas: "- logo menu actions --";
    }
}

.header-logo {
    @apply flex w-fit;

    grid-area: logo;
}

.header-logo a {
    @apply app-transition-colors flex items-center text-[var(--app-background-crunchyroll-orange)];
}

.header-logo a:hover,
.header-logo a:focus-visible {
    @apply text-white;
}

.header-logo svg {
    @apply fill-current;
}

.icon-wrapper {
    @apply flex h-full cursor-pointer items-center px-4.5 text-[var(--app-icon-primary)];

    transition: background-color 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.icon-wrapper[data-active="true"],
.icon-wrapper:hover,
.icon-wrapper:focus-visible {
    @apply bg-[var(--app-overlay-secondary)] text-white;
}

.header-menu {
    @apply flex;

    grid-area: menu;
}

.header-actions {
    @apply flex;

    grid-area: actions;
}

.app-overlay {
    @apply invisible fixed top-0 left-0 z-0 h-full w-full bg-[var(--app-overlay-primary)] opacity-0 data-[active=true]:visible data-[active=true]:z-98 data-[active=true]:opacity-100;
}